<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {{#each gigs as |gig|}}
        <tr>
          <th>{{ gig.title }}</th>
          <td>{{ gig.technologies }}</td>
          <td>{{ gig.description }}</td>
          <td>{{ gig.budget }}</td>
          <td> {{ gig.contact_email }} </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>