<div class="min-h-screen bg-blue-200 flex items-center justify-center p-8">
  <!-- Render the gigs in card format -->
  <div class="max-w-5xl flex flex-wrap justify-between">
    {{#each gigs as |gig|}}
      <div class="card mb-4 p-4 shadow-lg rounded-lg bg-blue-100 w-96 h-auto md:w-80 md:h-auto lg:w-72 lg:h-auto mx-4">
        <div class="card-header mb-2">
          <h2 class="text-xl font-bold text-blue-600 truncate">
            <a href="/gig/{{gig.id}}">{{gig.company}}</a>
          </h2>
        </div>
        <div class="card-body">
          <p class="mb-2">
            <strong>Job Title:</strong>
            <a href="/gig/{{gig.id}}" class="text-blue-600">{{gig.title}}</a>
          </p>
          <p class="mb-2">
            <strong>Technologies:</strong> <span class="text-blue-800">{{gig.technologies}}</span>
          </p>
          <p class="mb-2">
            <strong>Salary:</strong> <span class="text-blue-800">{{gig.budget}}</span>
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
