<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>Company</th>
        <th>Job</th>
        <th>Technologies</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <!-- Render the gigs in list format -->
      {{#each gigs as |gig|}}
        <tr>
          <th><a href="/gig/{{gig.id}}">{{ gig.company }}</a></th>
          <th><a href="/gig/{{gig.id}}">{{ gig.title }}</a></th> 
          <td>{{ gig.technologies }}</td>
           <td>{{ gig.budget }}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>